<nav>
  <div class="nav-wrapper indigo accent-3">
		<div class="container">
   		<a href="/" class="brand-logo">{{site.logo}}</a>
	        <a href="{{site.baseurl}}" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
   		<ul id="nav-mobile" class="right hide-on-med-and-down">
   		  <li><a href="{{"about/" | prepend: {{site.baseurl}}">About</a></li>
   		  <li><a href="{{"contact/" | prepend: {{site.baseurl}}">Contact</a></li>
   		</ul>
			<ul class="side-nav" id="mobile-menu">
		  <li><a href="{{site.baseurl}}">Home</a></li>
   		  <li><a href="{{"about/" | prepend: {{site.baseurl}}">About</a></li>
   		  <li><a href="{{"contact/" | prepend: {{site.baseurl}}">Contact</a></li>
			</ul>
  	</div>
	</div>
</nav>
      