<nav>
  <div class="nav-wrapper indigo accent-3">
		<div class="container">
   		<a href="{{ site.github.url }}" class="brand-logo">{{site.logo}}</a>
	        <a href="{{ site.github.url }}" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
   		<ul id="nav-mobile" class="right hide-on-med-and-down">
   		  <li><a href="{{ site.github.url }}/about/">About</a></li>
   		  <li><a href="{{ site.github.url }}/contact">Contact</a></li>
   		</ul>
			<ul class="side-nav" id="mobile-menu">
		  <li><a href={{ site.github.url }}>Home</a></li>
   		  <li><a href="{{ site.github.url }}/about/">About</a></li>
   		  <li><a href="{{ site.github.url }}/contact/">Contact</a></li>
			</ul>
  	</div>
	</div>
</nav>
      